<table class="table table-striped table-hover">
  <caption>Rankings</caption>
  <thead>
    <tr>
      <td class="col-xs-1">#</td>
      <td class="col-xs-2">Team</td>
      <td class="col-xs-2">Avg</td>
      <td class="col-xs-2">Auto</td>
      <td class="col-xs-2">Totes</td>
      <td class="col-xs-2">Caps</td>
      <td class="col-xs-2">Litter</td>
      <td class="col-xs-2">Coop</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="teamData in RankingCtrl.teamDataList | orderBy: '-average'" ng-click="RankingCtrl.viewTeam(teamData.team)">
      <td class="col-xs-1">{{$index+1}}</td>
      <td class="col-xs-2">{{teamData.team}}</td>
      <td class="col-xs-2">{{teamData.average.toFixed(2)}}</td>
      <td class="col-xs-2">{{teamData.autonomous.totalPoints.toFixed(2)}}</td>
			<td class="col-xs-2">{{teamData.stacking.totalPoints.toFixed(2)}}</td>
			<td class="col-xs-2">{{teamData.capping.totalCapPoints.toFixed(2)}}</td>
			<td class="col-xs-2">{{teamData.capping.totalLitterPoints.toFixed(2)}}</td>
			<td class="col-xs-2">{{teamData.coop.totalPoints.toFixed(2)}}</td>
    </tr>
  </tbody>
</table>