<div class="container-fluid">
  <div class="row">
    <h3 class="col-xs-6 col-med-4 col-lg-2">Team {{TeamDataCtrl.teamNumber}}</h3>
  </div>
  
  <div class="row">
    <table class="table table-striped table-hover">
      <caption>Overall</caption>
      <thead>
        <tr>
          <td class="col-xs-2">Avg</td>
          <td class="col-xs-2">Auto</td>
          <td class="col-xs-2">Totes</td>
          <td class="col-xs-2">Caps</td>
          <td class="col-xs-2">Litter</td>
          <td class="col-xs-2">Coop</td>
        </tr>
      </thead>
      <tbody>
				<tr>
					<td class="col-xs-2">{{TeamDataCtrl.teamData.total.toFixed(2)/TeamDataCtrl.teamData.matches.length}}</td>
					<td class="col-xs-2">{{TeamDataCtrl.teamData.autonomous.totalPoints.toFixed(2)}}</td>
					<td class="col-xs-2">{{TeamDataCtrl.teamData.stacking.totalPoints.toFixed(2)}}</td>
					<td class="col-xs-2">{{TeamDataCtrl.teamData.capping.totalCapPoints.toFixed(2)}}</td>
					<td class="col-xs-2">{{TeamDataCtrl.teamData.capping.totalLitterPoints.toFixed(2)}}</td>
					<td class="col-xs-2">{{TeamDataCtrl.teamData.coop.totalPoints.toFixed(2)}}</td>
				</tr>
      </tbody>
    </table>
  </div>
  
  <div class="row">
    <tabset>
      <tab heading="Auto">
        <table class="table table-striped table-hover">
          <caption>Autonomous</caption>
          <thead>
            <tr>
              <td class="col-xs-2"># Tote Sets</td>
              <td class="col-xs-2"># Cans</td>
              <td class="col-xs-2"># Totes</td>
              <td class="col-xs-2">Bot in Zone</td>
              <td class="col-xs-2">Problematic</td>
            </tr>
          </thead>
          <tbody>
						<tr>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.autonomous.toteSet/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.autonomous.numCans/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.autonomous.numTotes/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.autonomous.isInAutoZone/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">No</td>
						</tr>
          </tbody>
        </table>
        
      </tab>
      <tab heading="Stacking">
        <table class="table table-striped table-hover">
          <caption>Stacking Averages Per Match</caption>
          <thead>
            <tr>
              <td class="col-xs-2"># Stacks</td>
              <td class="col-xs-2">Stack Height</td>
              <td class="col-xs-2">Max Height</td>
              <td class="col-xs-2"># HP</td>
              <td class="col-xs-2"># LF</td>
            </tr>
          </thead>
          <tbody>
						<tr>
							<td class="col-xs-2">{{(TeamDataCtrl.teamData.stacking.numHP + TeamDataCtrl.teamData.stacking.numLF)/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.stacking.height.toFixed(2)/(TeamDataCtrl.teamData.stacking.numHP + TeamDataCtrl.teamData.stacking.numLF)}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.stacking.maxHeight}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.stacking.numHP/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.stacking.numLF/TeamDataCtrl.teamData.matches.length}}</td>
						</tr>
          </tbody>
        </table>
        
      </tab>
      <tab heading="Cap">
        <table class="table table-striped table-hover">
          <caption>Capping Averages Per Match</caption>
          <thead>
            <tr>
              <td class="col-xs-2"># Caps</td>
              <td class="col-xs-2">Cap Height</td>
              <td class="col-xs-2">Max Cap Height</td>
              <td class="col-xs-2"># Litter</td>
            </tr>
          </thead>
          <tbody>
						<tr>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.capping.numCaps/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.capping.height.toFixed(2)/TeamDataCtrl.teamData.capping.numCaps}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.capping.maxHeight}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.capping.litter/TeamDataCtrl.teamData.matches.length}}</td>
						</tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Burglar">
        <table class="table table-striped table-hover">
          <caption>Burglar Averages Per Match</caption>
          <thead>
            <tr>
              <td class="col-xs-2">Efficiency</td>
              <td class="col-xs-2"># Cans Attempted</td>
              <td class="col-xs-2"># Cans Captured</td>
              <td class="col-xs-2">Auto</td>
              <td class="col-xs-2">Battle</td>
            </tr>
          </thead>
          <tbody>
						<tr>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.burglar.efficiency/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.burglar.cansAttempted/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.burglar.cansCaptured/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.burglar.autonomous/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.burglar.battle/TeamDataCtrl.teamData.matches.length}}</td>
						</tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Ramp">
        <table class="table table-striped table-hover">
          <caption>Ramp Averages Per Match</caption>
          <thead>
            <tr>
              <td class="col-xs-2"># Ramps</td>
              <td class="col-xs-2"># Cycles</td>
              <td class="col-xs-2"># Totes/Ramp</td>
              <td class="col-xs-2">Interferes Auto</td>
            </tr>
          </thead>
          <tbody>
						<tr>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.ramp.quantity/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.ramp.numCycles/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.ramp.toteCapacity/TeamDataCtrl.teamData.matches.length}}</td>
							<td class="col-xs-2">{{TeamDataCtrl.teamData.ramp.interferes/TeamDataCtrl.teamData.matches.length}}</td>
						</tr>
          </tbody>
        </table>
      </tab>
    </tabset>
  </div>
  
  <div class="row">
    <hr>
  </div>
  
<!--
  <div class="row">
    <button type="button" class="btn btn-primary col-xs-12" ng-click="TeamDataCtrl.createMatch()">
      Add Match
    </button>
  </div>
-->
  <div class="row">
    <table class="table table-striped table-hover">
      <caption>Team Matches</caption>
      <thead>
        <tr>
          <td class="col-xs-2">#</td>
          <td class="col-xs-2">Score</td>
          <td class="col-xs-2">Auto</td>
          <td class="col-xs-2">Totes</td>
          <td class="col-xs-2">Caps</td>
          <td class="col-xs-2">Litter</td>
          <td class="col-xs-2">Coop</td>
        </tr>
      </thead>
      <tbody>
    
        <tr ng-repeat="match in TeamDataCtrl.teamData.matches | orderBy: 'id'" ng-click="TeamDataCtrl.modifyMatch(match.id)">
          <td class="col-xs-2">{{match.id}}</td>
          <td class="col-xs-2">{{match.score.toFixed(2)}}</td>
          <td class="col-xs-2">{{match.autonomousScore.toFixed(2)}}</td>
          <td class="col-xs-2">{{match.totesScore.toFixed(2)}}</td>
          <td class="col-xs-2">{{match.capsScore.toFixed(2)}}</td>
          <td class="col-xs-2">{{match.litterScore.toFixed(2)}}</td>
          <td class="col-xs-2">{{match.coopScore.toFixed(2)}}</td>
        </tr>
    
      </tbody>
    </table>
  </div>
</div>

<!-- custom navbar for options -->
<!--
<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a>Overall</a></li>
      <li><a>Auto</a></li>
      <li><a>Stack</a></li>
      <li><a>Cap</a></li>
      <li><a>Burglar</a></li>
      <li><a>Ramp</a></li>
    </ul>
</nav>-->
