<table class="table table-striped table-hover">
  <caption>Team Listing</caption>
  <thead>
    <tr>
      <td class="col-xs-2">#</td>
      <td class="col-xs-4">Name</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in teamList |orderBy: 'number' track by team.number" ng-click="(editTeamId == team.number ? editTeamId = 'none' : TeamListingCtrl.viewTeam(team.number))" ng-right-click="editTeamId = (editTeamId == team.number ? 'none' : team.number)" ng-swipe-left="editTeamId = team.number" 
      ng-swipe-right="editTeamId = 'none'">
      <td class="col-xs-2">{{team.number}}</td>
      <td class="col-xs-4">{{team.name}}</td>
      <td class="col-xs-4">
        <button ng-show="editTeamId == team.number" type="button" class="btn btn-warning" ng-click="TeamListingCtrl.modifyTeam(team)">
          Modify
        </button>
        <button ng-show="editTeamId == team.number" type="button" class="btn btn-danger" ng-click="TeamListingCtrl.deleteTeam(team)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <hr>
</div>

<button type="button" class="btn btn-primary col-xs-12" ng-click="TeamListingCtrl.addTeam()">
  Add Team
</button>