<div class="container-fluid">
  <div class="row">
		<table class="table table-striped table-hover">
			<caption>Matches</caption>
			<thead>
				<tr ng-repeat="alliance in matches[0].alliances">
					<td ng-show="$index == 0" class="col-xs-1" rowspan="{{matches[0].alliances.length}}">#</td>
					<td class="col-xs-2" ng-repeat="team in alliance.teams">{{alliance.name}} {{$index + 1}}</td>
					<td class="col-xs-2">Score</td>
				</tr>
			</thead>
			<tbody ng-repeat="match in matches |orderBy: '_id'" >
				<tr ng-repeat="alliance in match.alliances" ng-click="MatchCtrl.selectMatch(match._id)">
					<td ng-show="$index == 0" class="col-xs-1" rowspan="{{match.alliances.length}}" >{{match._id}}</td>
					<td class="col-xs-2" ng-repeat="team in alliance.teams">{{team}}</td>
					<td class="col-xs-2">{{alliance.score}}</td>
				</tr>
			</tbody>
		</table>
	</div>
<!--	<progressbar ng-show="matches.length === 0" class="progress-striped active" max="100" value="100"><i>Loading Matches</i></progressbar>-->
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<button ng-show="!selectedMatchId" type="button" class="btn btn-primary col-xs-12" ng-click="MatchCtrl.addMatch()">
			Add Match
		</button>
		<button  ng-show="selectedMatchId" type="button" class="btn btn-warning col-xs-6" ng-click="MatchCtrl.modifyMatch()">
			Modify Match {{selectedMatchId}}
		</button>
		<button  ng-show="selectedMatchId" type="button" class="btn btn-danger col-xs-6" ng-click="MatchCtrl.deleteMatch()">
			Delete Match {{selectedMatchId}}
		</button>
	</div>
</div>