<div class="container-fluid">
  <div class="row">
    <label>Team: <input  class="form-control" ng-model="search._id"></label>
  </div>
  <div class="row">
    <table class="table table-striped table-hover">
      <caption>Team Chairman's Listing</caption>
      <thead>
        <tr>
					<td class="col-xs-2">Division</td>
          <td class="col-xs-1">#</td>
          <td class="col-xs-3">Name</td>
					<td class="col-xs-2">CA Wins</td>
					<td class="col-xs-2">CA Streak</td>
					<td class="col-xs-2">EI Wins</td>
        </tr>
      </thead>
      <tbody>
				
				<tr ng-repeat="team in ChairmansCtrl.chairmansData |filter:search:strict |orderBy: '_id' track by team._id" ng-click="ChairmansListingCtrl.viewTeam(team._id)">

					<td class="col-xs-2">{{team.division}}</td>
          <td class="col-xs-2">{{team._id}}</td>
          <td class="col-xs-4">{{team.name}}</td>
					<td class="col-xs-2">{{team.CAs.length}}</td>
					<td class="col-xs-2">{{team.caStreak}}</td>
					<td class="col-xs-2">{{team.EIAs.length}}</td>

        </tr>
      </tbody>
    </table>
  </div>
	<progressbar ng-show="teamList.length === 0" class="progress-striped active" max="100" value="100"><i>Loading Chairman's Teams</i></progressbar>
  <div class="row">
    <hr>
  </div>
  <div class="row">
<!--
    <button type="button" class="btn btn-primary col-xs-12" ng-click="TeamListingCtrl.addTeam()">
      Add Team
    </button>
-->
  </div>
</div>